<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupName</key>
		<string>我的好友</string>
		<key>loginNum</key>
		<string>10</string>
		<key>opened</key>
		<false/>
		<key>friends</key>
		<array>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友1</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友2</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友3</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友4</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友5</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友6</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友7</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友8</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupName</key>
		<string>我的同学</string>
		<key>loginNum</key>
		<string>5</string>
		<key>opened</key>
		<false/>
		<key>friends</key>
		<array>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友1</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友2</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友3</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友4</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友5</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友6</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友7</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
			<dict>
				<key>gid</key>
				<string>123456</string>
				<key>name</key>
				<string>好友8</string>
				<key>content</key>
				<string>我的个性签名</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
